.flexed {
	display: flex;
	flex-direction: row;

	&.flexed-columm {
		flex-direction: column;
	}

	&.wrapper {
		flex-wrap: wrap;
		justify-content: space-between;
		align: {
			content: space-around;
			items: baseline;
		}
	}

	& > .flex-grow {
		flex: 1;
	}

	& > * {
		flex-shrink: 0;
	}

	& > .centered {
		margin: auto;
	}

	& > .centered-row {
		margin: 0 auto;
	}

	& > .centered-column {
		margin: auto 0;
	}
}