.n-button{
	height: 36px;
	border-radius: 2%;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	padding: 8px;
	background: transparent;

	transition: background .2s;
	color: unset;
	outline: none;
	cursor: pointer;
	
	&:hover{
		background: rgba(117, 117, 117, .20);
	}
}