$gray: #A2A2A2;
$shadow: 0 1px 4px 0 $gray;
$shadow-hover: 0 1px 16px 0 $gray;

.n-card {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
	border-radius: 2px;
	transition: box-shadow .2s;
	margin: 6px;
	
	&:hover {
		-webkit-box-shadow: $shadow-hover;
		box-shadow: $shadow-hover;
	}

	& > .n-card-media{
		height: 180px;
		width: 320px;
		
		& img{
			height: inherit;
			width: inherit;
		}
	}

	& > .n-card-content {
		padding: 16px;

		& > .n-card-title-text {
			margin: 0;
		}

		& > .n-card-title-sub-text {
			padding: 8px 0 0;
		}
	}

	& > .n-card-actions {
		padding: 8px;
		border-top: 1px solid lighten($gray, 20%);

		& > .n-button:first-child {
			margin-right: 4px;
		}
		
		& > .n-button:not(:first-child) {
			margin: 0 4px;
		}
	}
}